# Project 7

- [Report](https://docs.google.com/document/d/1d6JuigRGQrC9244Y_fzWR2EBKznfnKVnQH_Bf-OEOwI/edit?usp=sharing)
- [Slides](https://docs.google.com/presentation/d/1qbXJJV9wEzjcOUMc-ESLRDamedZsxWrcTiVqrR-AlJ8/edit?usp=sharing)
- [Dataset](https://www.kaggle.com/datasets/jonathanpilafas/2024-march-madness-statistical-analysis)

## Setup

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as snsasdfds
from sklearn.metrics import confusion_matrix, precision_recall_fscore_support
from sklearn.model_selection import train_test_split
import re
from sklearn.linear_model import LogisticRegression
from sklearn.utils.class_weight import compute_class_weight
import pandas as pd
from sklearn import svm

## Exploring/Cleaning Data

In [14]:
df = pd.read_csv('realtor-data.csv')
utahDF = df[df['state'].isin(['Utah', 'Idaho', 'Colorado', 'Arizona'])]
utahDF.dropna()

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
186240,886.0,for_sale,489900.0,3.0,3.0,0.05,869665.0,Centennial,Colorado,80122.0,2376.0,2002-09-09
850470,66320.0,for_sale,698500.0,3.0,2.0,5.00,1521602.0,Carmen,Idaho,83462.0,2070.0,2019-03-28
850489,46706.0,for_sale,799000.0,3.0,3.0,0.97,1177124.0,Island Park,Idaho,83429.0,2558.0,2011-10-14
850492,46700.0,for_sale,799900.0,4.0,2.0,0.39,1283368.0,Island Park,Idaho,83429.0,3024.0,2020-01-03
850502,15738.0,for_sale,649000.0,4.0,3.0,0.50,1150505.0,Island Park,Idaho,83429.0,1698.0,2021-04-30
...,...,...,...,...,...,...,...,...,...,...,...,...
2226283,23014.0,sold,279000.0,3.0,2.0,0.67,1782093.0,Lewiston,Idaho,83501.0,2001.0,2021-12-15
2226284,6736.0,sold,672000.0,4.0,3.0,1.06,1074539.0,Lewiston,Idaho,83501.0,3312.0,2022-01-10
2226285,16013.0,sold,195000.0,2.0,2.0,0.12,1676611.0,Lewiston,Idaho,83501.0,938.0,2022-01-10
2226288,84718.0,sold,299000.0,3.0,2.0,0.23,1152260.0,Lewiston,Idaho,83501.0,2008.0,2022-03-01
2226291,51869.0,sold,285000.0,3.0,2.0,0.50,348793.0,Lewiston,Idaho,83501.0,1620.0,2022-04-12

In [15]:
utahDF.brokered_by.unique()
utahDF.status.unique()
utahDF.bed.unique()
utahDF.bath.unique()
utahDF.acre_lot.unique()
utahDF.brokered_by.unique()
utahDF.describe()

,brokered_by,price,bed,bath,acre_lot,street,zip_code,house_size
count,136352.000000,1.363450e+05,106106.000000,104340.000000,125403.000000,1.358630e+05,136362.000000,1.069050e+05
mean,58372.444636,6.315784e+05,3.299776,2.581819,14.106238,1.007133e+06,84006.394164,1.191689e+04
std,30554.287006,1.273497e+06,1.264169,1.897837,491.080054,5.700382e+05,2030.020867,3.182003e+06
min,21.000000,0.000000e+00,1.000000,1.000000,0.000000,0.000000e+00,18223.000000,1.100000e+02
25%,32428.000000,2.749000e+05,3.000000,2.000000,0.140000,5.102175e+05,83328.000000,1.408000e+03
50%,57595.000000,4.310000e+05,3.000000,2.000000,0.210000,1.023240e+06,85032.000000,1.882000e+03
75%,83239.000000,6.446060e+05,4.000000,3.000000,0.950000,1.507816e+06,85379.000000,2.592000e+03
max,110105.000000,8.000000e+07,96.000000,460.000000,100000.000000,2.001352e+06,91023.000000,1.040400e+09